/*2.В качестве фона на всех страницах установить цвет #f8f8f8.*/
body {
    background-color: #f8f8f8;
}

.header {
   height: 120px  ;
   align-self: center;
   background-image: url('../img/headbg.png')
}

.logo {
   float : left ;
   margin: 6px
}

.footer {
   height: 200px  ;
   background: #d6d6d6 ;
}

.shopmap  {
   height: 374px  ;
   width: 100%;
}

.oneitem {
    float : left ;
   height:400px  ;
   width: 300px  ;
}

.oneprod  {
   /* float : left ;
   height:400px  ;*/
   display: flex ;
   width: 100%  ;
   margin: 10px
}

.oneprod  div {
   margin: 10px
}

.abourprod { width: 50% ;}
.smolinfo { width: 20% ;}
.actioninfo { width: 30% ;}

.smimg {

   display: flex ;
   justify-content:  space-between ;
}

.rowitem {
    height:500px  ;
    width: 100%  ;
}

.rowitem1 {
    height:500px  ;
    width: 100%  ;
}

a.superbutton {
float : left ;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.superbutton:hover { background: rgb(53, 167, 110); float : left ;}
a.superbutton:active {
    float : left ;
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

/*3.Меню сайта:*/
/*а.Для всех ссылок меню задать определённый стиль. (Цвет текста, размер шрифта, начертание шрифта и т.д.), Убрать маркеры списка.*/
.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
   width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	
	visibility: visible;
   width: 100%;
}
#submenu li {
	float: none;
   width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
.h1 {
    /*ниче не придумал для ха1 :( фантазия иссякла :)*/
}

h3 {
    text-decoration : underline ;
    font-weight: bold ;
    font-size : 18px;
}
/*4.Страница “Товар каталога”, Заголовки (Краткое описание товара, Характеристики, Подробное описание товара)    */
/* Цвет текста черный, Размер шрифта 18px, Насыщенность шрифта 400. (font-weight), Установите цвет фона #eaeaea; */
h2 {
   color : #000000 ;
   font-size : 18px;
   font-weight : 400;
   background-color: #eaeaea;   }
h3 {
    text-decoration : underline ;
    font-weight : bold;
    font-size : 18px;   }
    
.product    
P:first-letter {
    font-family: "Times New Roman", Times, serif; 
    font-size: 200%; 
    color: red; 
}
td {
   padding: 10px ;
}


/*b. Для текста краткого описания товар.*/
/** Цвет текста #707070; Размер шрифта 14px., Начертание шрифта italic. (font-style), Высоту текста 16px (line-height);*/
.sm-desription {
    color : #707070 ;
    font-size : 14px;
    font-style : italic ;
    line-height: 16px;  }
/*c.Для текста подробного описания товара:
Цвет текста #484343, Размер шрифта 16px, Насыщенность шрифта 400. (font-weight), Высоту текста 24px (line-height); Расположение текста по левому краю (text-align)*/
.fl-desription {
    color : #484343 ;
    font-size : 16px;
    font-weight : 400;
    line-height: 24px;
    text-align:left;    }

/*d.Для списка Характеристики товара */
/** задайте списку стили, отличные от всего остального текста, установите в качестве маркеров произвольные изображения*/
.ttx
p {
    font-size : 15px;
    line-height: 20px;
    text-align: center;     }
ul {
    list-style : circle ;
    list-style-image: url("li.svg") ;
    list-style-position: inside ;
    font-variant: small-caps ;  }
.odd {  background-color: #e0eae0;  }

/*5.Странице “Контакты”:*/
/*a.Задать значения ширины и высоты для полей ввода. , b.Задать стили для текста, внутри полей input. ( Цвет текста, размер шрифта и т.д.).*/
.contacts
input {
    width : 300px ;
    height: 22px  ;
    text-transform: capitalize ;
    color : #053df7 ;
    font-size : 14px;   }
textarea{
    width : 298px ;
    height: 110px  ;
    text-transform: capitalize ;
    color : #053df7  ;
    font-size : 14px;
    resize: vertical;   }
tr {    height: 32px  ; }
input.button {
   color : #000000 ;
   width : 305px ;
   font-size : 14px;
   font-variant: small-caps ;
   font-weight : bold;
}

#edit_submitted_client_e_mail:focus {
    color : #053df7 ;
    background: #a8abaf;
    border: 2px double black ;
}


/*6.*Для изображений, размещенных на странице подробного описания товара, задать рамку не используя свойства border, произвольным цветом. */
.theborder {
   outline: 2px solid #000000;
   outline-offset: 7px;
   margin:20px;
}
.theborder:hover {
   outline: 0px solid #000000;
}
.smallborder {
   outline: 1px dashed #484343;
   outline-offset: 3px;
   margin: 10px;
}
.smallborder:hover {
   outline: 0px solid #000000;
}